coverage
django-dynamic-fixture==1.6.5
django-nose==1.1
pep8
psycopg2==2.4.5
pyflakes
south==0.7.6
freezegun==0.1.13
# Note that Django is a requirement, but it is installed in the .travis.yml file in order to test against different versions
